# Naive Engine

Just return items **not** seen or reviewed by a given user.

In [53]:
import pandas as pd

In [54]:
wine_ratings = pd.read_csv('data/reviews.csv')

In [55]:
wine_ratings.head()

,id,username,wine,rating,comment
0,0,jadianes,Manzanilla La Gitana,4,Beautiful Manzanilla. Great price.
1,1,jadianes,Pol Roger Rose 1998,3,Classy Rose. Not great.
2,2,jadianes,Molino Real 2002,4,This can be great with time.
3,3,jadianes,Le Grappin Bagnum Rose 2013,2,Drinkable...
4,4,jadianes,La Bota de Amontillado 1,5,A treasure of a wine

In [56]:
wine_ratings.tail()

    id username                      wine  rating                comment
31  31     pepe  La Bota de Amontillado 1       5                  Jooe!
32  32     pepe   Vega Sicilia Unico 1989       4         Vega Siclia...
33  33     pepe      Manzanilla La Gitana       4  Esto y unas gambitas!
34  34     pepe       Pol Roger Rose 1998       2            No esta mal
35  35     pepe   Rosseau Chambertin 2001       4              Muy bueno

In [57]:
wine_ratings_pivoted = wine_ratings.pivot('username', 'wine', 'rating')

In [58]:
wine_ratings_pivoted

wine,Chateau Latour 1982,JL Chave Hermitage 2001,La Bota de Amontillado 1,Le Grappin Bagnum Rose 2013,Manzanilla La Gitana,Molino Real 2002,Pol Roger Rose 1998,Raveneu Le Clos 1996,Rosseau Chambertin 2001,Vega Sicilia Unico 1989,Vi√±a Tondonia Blanco Reserva 1981
username,,,,,,,,,,,
carlos,NaN,5.0,NaN,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN
jadianes,NaN,NaN,5.0,2.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN
john,NaN,4.0,2.0,3.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN
lluis,4.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,4.0,NaN,5.0
mari,NaN,NaN,NaN,NaN,3.0,5.0,2.0,5.0,NaN,NaN,NaN
pepe,NaN,NaN,5.0,NaN,4.0,NaN,2.0,NaN,4.0,4.0,NaN
teus,NaN,NaN,5.0,NaN,4.0,5.0,NaN,NaN,NaN,NaN,4.0
yasset,NaN,NaN,NaN,NaN,4.0,1.0,2.0,4.0,NaN,5.0,NaN

In [59]:
wine_ratings_pivoted = wine_ratings_pivoted.fillna(0)
wine_ratings_pivoted

wine,Chateau Latour 1982,JL Chave Hermitage 2001,La Bota de Amontillado 1,Le Grappin Bagnum Rose 2013,Manzanilla La Gitana,Molino Real 2002,Pol Roger Rose 1998,Raveneu Le Clos 1996,Rosseau Chambertin 2001,Vega Sicilia Unico 1989,Vi√±a Tondonia Blanco Reserva 1981
username,,,,,,,,,,,
carlos,0.0,5.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0
jadianes,0.0,0.0,5.0,2.0,4.0,4.0,3.0,0.0,0.0,0.0,0.0
john,0.0,4.0,2.0,3.0,2.0,2.0,4.0,0.0,0.0,0.0,0.0
lluis,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,5.0
mari,0.0,0.0,0.0,0.0,3.0,5.0,2.0,5.0,0.0,0.0,0.0
pepe,0.0,0.0,5.0,0.0,4.0,0.0,2.0,0.0,4.0,4.0,0.0
teus,0.0,0.0,5.0,0.0,4.0,5.0,0.0,0.0,0.0,0.0,4.0
yasset,0.0,0.0,0.0,0.0,4.0,1.0,2.0,4.0,0.0,5.0,0.0

Write a method to get a mask list of wine **not** reviewed by a given user.

In [60]:
def get_recommended_wine_for(username, wine_ratings):
    wine = wine_ratings.loc[username, :]
    return list(map(lambda x: True if x[1] == 0 else False, enumerate(wine)))

True means the wine has not been reviewed by the given user, Carlos.

In [61]:
get_recommended_wine_for('carlos', wine_ratings_pivoted)

[True, False, True, True, False, False, True, True, True, True, True]

We should recommend the list of wine below to Mari since she has never reviewed them.

In [62]:
wine_ratings_pivoted.loc['mari', get_recommended_wine_for('mari', wine_ratings_pivoted)]

wine
Chateau Latour 1982                  0.0
JL Chave Hermitage 2001              0.0
La Bota de Amontillado 1             0.0
Le Grappin Bagnum Rose 2013          0.0
Rosseau Chambertin 2001              0.0
Vega Sicilia Unico 1989              0.0
Vi√±a Tondonia Blanco Reserva 1981    0.0
Name: mari, dtype: float64

## Use $k$-Means Clustering for Better Recommendation

We can reduce the search space using a clustering algorithm. Here we will use the $k$-means clustering algorithm.

In [63]:
# import
from sklearn import cluster

# instantiate
k = 3
kmeans = cluster.KMeans(n_clusters=k, random_state=1)

# fit
kmeans.fit(wine_ratings_pivoted)

KMeans(copy_x=True, init='k-means++', max_iter=300, n_clusters=3, n_init=10,
    n_jobs=1, precompute_distances='auto', random_state=1, tol=0.0001,
    verbose=0)

In [64]:
kmeans.cluster_centers_

array([[ 0. ,  0. ,  2.5,  0. ,  4. ,  0.5,  2. ,  2. ,  2. ,  4.5,  0. ],
       [ 0. ,  1.8,  2.4,  1. ,  3.4,  4. ,  1.8,  1. ,  0. ,  0. ,  0.8],
       [ 4. ,  0. ,  0. ,  0. ,  4. ,  0. ,  0. ,  0. ,  4. ,  0. ,  5. ]])

In [65]:
kmeans.labels_

array([1, 1, 1, 2, 1, 0, 1, 0], dtype=int32)

In [66]:
# predict

kmeans.predict([wine_ratings_pivoted.loc['teus', :]])

array([1], dtype=int32)

In [67]:
my_taste = [5.0, 0.0, 1.0, 0.0, 4.0, 1.0, 2.0, 4.0, 0.0, 5.0, 5.0]

We can map my taste into one of the clusters like this.

In [68]:
kmeans.predict([my_taste])

array([0], dtype=int32)

We label each user by adding a new column "label" to the data frame.

In [69]:
wine_ratings_pivoted['label'] = kmeans.labels_

In [70]:
wine_ratings_pivoted

wine,Chateau Latour 1982,JL Chave Hermitage 2001,La Bota de Amontillado 1,Le Grappin Bagnum Rose 2013,Manzanilla La Gitana,Molino Real 2002,Pol Roger Rose 1998,Raveneu Le Clos 1996,Rosseau Chambertin 2001,Vega Sicilia Unico 1989,Vi√±a Tondonia Blanco Reserva 1981,label
username,,,,,,,,,,,,
carlos,0.0,5.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,1
jadianes,0.0,0.0,5.0,2.0,4.0,4.0,3.0,0.0,0.0,0.0,0.0,1
john,0.0,4.0,2.0,3.0,2.0,2.0,4.0,0.0,0.0,0.0,0.0,1
lluis,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,5.0,2
mari,0.0,0.0,0.0,0.0,3.0,5.0,2.0,5.0,0.0,0.0,0.0,1
pepe,0.0,0.0,5.0,0.0,4.0,0.0,2.0,0.0,4.0,4.0,0.0,0
teus,0.0,0.0,5.0,0.0,4.0,5.0,0.0,0.0,0.0,0.0,4.0,1
yasset,0.0,0.0,0.0,0.0,4.0,1.0,2.0,4.0,0.0,5.0,0.0,0

Show the list of people who have the same taste as mine.

In [71]:
my_taste = [5.0, 0.0, 1.0, 0.0, 4.0, 1.0, 2.0, 4.0, 0.0, 5.0, 5.0]
pred = kmeans.predict([my_taste])

wine_ratings_pivoted[wine_ratings_pivoted.label == pred[0]]

wine,Chateau Latour 1982,JL Chave Hermitage 2001,La Bota de Amontillado 1,Le Grappin Bagnum Rose 2013,Manzanilla La Gitana,Molino Real 2002,Pol Roger Rose 1998,Raveneu Le Clos 1996,Rosseau Chambertin 2001,Vega Sicilia Unico 1989,Vi√±a Tondonia Blanco Reserva 1981,label
username,,,,,,,,,,,,
pepe,0.0,0.0,5.0,0.0,4.0,0.0,2.0,0.0,4.0,4.0,0.0,0
yasset,0.0,0.0,0.0,0.0,4.0,1.0,2.0,4.0,0.0,5.0,0.0,0

Find out which wine I have never tasted from Pepe's list.

In [72]:
wine_ratings_pivoted.loc['pepe', list(map(lambda x: True if x == 0 else False, my_taste))]

wine
JL Chave Hermitage 2001        0.0
Le Grappin Bagnum Rose 2013    0.0
Rosseau Chambertin 2001        4.0
Name: pepe, dtype: float64

We then should recommend "Rosseau Chambertin 2001" because Pepe has tasted it and gave it a good rating.

Find out which wine I have never tasted from Yasset's list.

In [73]:
wine_ratings_pivoted.loc['yasset', list(map(lambda x: True if x == 0 else False, my_taste))]

wine
JL Chave Hermitage 2001        0.0
Le Grappin Bagnum Rose 2013    0.0
Rosseau Chambertin 2001        0.0
Name: yasset, dtype: float64

Here we don't have any wine to recommend since Yasset has never tried any wine in the list above.