# User-Based Collaborative Filtering

In [1]:
import pandas as pd

In [2]:
wine_ratings = pd.read_csv('data/reviews.csv')

In [3]:
wine_ratings.head()

,id,username,wine,rating,comment
0,0,jadianes,Manzanilla La Gitana,4,Beautiful Manzanilla. Great price.
1,1,jadianes,Pol Roger Rose 1998,3,Classy Rose. Not great.
2,2,jadianes,Molino Real 2002,4,This can be great with time.
3,3,jadianes,Le Grappin Bagnum Rose 2013,2,Drinkable...
4,4,jadianes,La Bota de Amontillado 1,5,A treasure of a wine

In [10]:
wine_ratings_pivoted = wine_ratings.pivot('wine', 'username', 'rating').fillna(0)

In [11]:
wine_ratings_pivoted

username,carlos,jadianes,john,lluis,mari,pepe,teus,yasset
wine,,,,,,,,
Chateau Latour 1982,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
JL Chave Hermitage 2001,5.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
La Bota de Amontillado 1,0.0,5.0,2.0,0.0,0.0,5.0,5.0,0.0
Le Grappin Bagnum Rose 2013,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0
Manzanilla La Gitana,4.0,4.0,2.0,4.0,3.0,4.0,4.0,4.0
Molino Real 2002,4.0,4.0,2.0,0.0,5.0,0.0,5.0,1.0
Pol Roger Rose 1998,0.0,3.0,4.0,0.0,2.0,2.0,0.0,2.0
Raveneu Le Clos 1996,0.0,0.0,0.0,0.0,5.0,0.0,0.0,4.0
Rosseau Chambertin 2001,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0
Vega Sicilia Unico 1989,0.0,0.0,0.0,0.0,0.0,4.0,0.0,5.0
Viña Tondonia Blanco Reserva 1981,0.0,0.0,0.0,5.0,0.0,0.0,4.0,0.0

In [12]:
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
cosine_similarity([wine_ratings_pivoted.carlos], [wine_ratings_pivoted.jadianes])

array([[ 0.50659807]])

In [22]:
wine_ratings_pivoted.columns

Index(['carlos', 'jadianes', 'john', 'lluis', 'mari', 'pepe', 'teus',
       'yasset'],
      dtype='object', name='username')

In [56]:
similarity_vector = {}
for each in wine_ratings_pivoted.columns:
    similarity = cosine_similarity([wine_ratings_pivoted[each]], [wine_ratings_pivoted['mari']])[0][0]
    similarity_vector[each] = similarity

In [57]:
similarity_vector

{'carlos': 0.53400125260987608,
 'jadianes': 0.5722216718399924,
 'john': 0.415339305320932,
 'lluis': 0.17694958208152353,
 'mari': 1.0,
 'pepe': 0.2297229292021056,
 'teus': 0.5147833871966373,
 'yasset': 0.65602099300766969}

In [60]:
def get_key(item):
    return item.key

sorted(similarity_vector, key=similarity_vector.get, reverse=True)

['mari', 'yasset', 'jadianes', 'carlos', 'teus', 'john', 'pepe', 'lluis']

In [61]:
wine_ratings_pivoted.loc['JL Chave Hermitage 2001', :]

username
carlos      5.0
jadianes    0.0
john        4.0
lluis       0.0
mari        0.0
pepe        0.0
teus        0.0
yasset      0.0
Name: JL Chave Hermitage 2001, dtype: float64

In [66]:
ratings = wine_ratings_pivoted.loc['JL Chave Hermitage 2001', ['carlos', 'john']]

In [68]:
weigted_sum = ((ratings['carlos'] * similarity_vector['carlos']) + (ratings['john'] * similarity_vector['john'])) / (similarity_vector['carlos'] + similarity_vector['john'])

In [69]:
weigted_sum

4.5624970387589787